body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2vw;
  margin: 0;
}

h4 {
  text-align: center;
  font-size: 1vw;
}

p {
  font-size: 0.8vw;
}

.selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 2%;
  border-style: solid;
  padding: 1%;
  width: 80%;
  height: max-content;
  position: sticky;
  margin: 10%;
  overflow: scroll;
  height: 1000px;
}

.logo {
  width: 25%;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
}

.player-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5%;
}


.selector-segment {
  margin: 10px;
}

.team {
  padding: 2px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.stats-container>.grade {
  flex: 1 1 30%;
  /*grow | shrink | basis */
  height: fit-content;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
  border-style: solid;
  border-radius: 5%;
  border-width: 2px;
  height: -moz-fit-content;
  height: fit-content;
  width: 20%;
  margin: 4%;
}

.grade {
  padding: 10px;
  width: 110%;
}

.roster {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.roster-button {
  width: 100%;
}

.expand {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#teams {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

#sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

#roster-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.sort-text .popup-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.sort-text:hover .popup-text {
  visibility: visible;
  transition-delay: 0.75s
}

.player-name {
  height: fit-content;
  width: fit-content;
}

.player-facts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.team-logo {
  width: 100%;
}

.basic-facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.image-with-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.player-image {
  /* width: 20vh; */
  width: 100%
}